//Variables
$white: #fff;
$color-bg: #f1f5f8;
$color-text: #666667;
$color-btn: #6e87fb;
$color-shadow1:  #939394;
$color-shadow2:  #b6b6b8;
$color-shadow3:  #d7d7d8;

//Base
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
    text-align: center;
    color: $color-text;
}

p   {
    line-height: 1.3em;
    text-align: justify;
}

header {
    background-color: $color-text;
    margin: auto;
    max-width: 1024px;
    height: 250px; 
}

.info   {
    margin: auto;
    width: 600px;
    
}


//Typography




