//Navigation



//Button



//Form
form   {
    width: 30%;
    margin: auto;
    background-color: $white;
}

fieldset    {
    border: none;
}

legend  {
    display: none;
}

// input  {
//     box-shadow:  2px  2px 4px 0px $color-shadow-1, 
//                  4px 4px 4px 0px $color-shadow-2, 
//                  6px 6px 4px 0px $color-shadow-3;
// }

//Image
header {
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
}

//Media Queries