//Navigation


//Button


//Form
<<<<<<< HEAD
input  {
    box-shadow:  2px  2px 4px 0px $color-shadow-1, 
                 4px 4px 4px 0px $color-shadow-2, 
                 6px 6px 4px 0px $color-shadow-3;
}


//Image
header  {
    background-image: url(/images/bg.jpg);  
    background-position: center center;
}

=======


//Image
>>>>>>> parent of e49926a... add input box shadows


//Media Queries